@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*  font-family: "Merriweather", serif;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;

}

header {
    max-width: 1366px;
    margin: auto;

}

/*hero section style*/
.hero-section {
    width: 1122px;
    height: 510px;
    margin: 50px auto;
    border-radius: 15px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(images/Banner\ Image.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section p {
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-weight: 340;
    line-height: 24px;
    margin-bottom: 40px;
    text-align: center;
}

.hero-section h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 800;
    line-height: 75px;
    text-align: center;
    margin-bottom: 20px;
}

/* main section*/
main {
    width: 1122px;
    margin: auto;
}

/* 65%-off section*/
.off-section {
    text-align: center;

}

.off-section .title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 80px;
    font-weight: 600;
    line-height: 100px;
    text-align: center;
    margin-top: 80px;
}

.off-section p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-top: 45px;
}

.off-section>.sub-title {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
}

.off-section img {
    width: 600px;
    margin-top: 40px;
}

.midnight-party-section {
    width: 1122px;
    margin: 80px auto;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(images/Vectorrr.png);
    border-radius: 16px;
    background-size: cover;
    display: flex;
}

.midnight-party-section div {
    display: flex;
    flex-direction: column;
}

.midnight-party-section div h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    text-align: left;
    margin-left: 80px;
    margin-top: 70px;
}

.midnight-party-section div p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-top: 40px;
    margin-left: 80px;
}

.midnight-party-section div a {
    margin-top: 40px;
    margin-left: 100px;

}

.midnight-party-section div button {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background: transparent;
    color: rgb(255, 255, 255);
}

.midnight-party-section>img {
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    width: 270px;
    height: 390px;
}

/*event section style*/
.event {
    margin-bottom: 80px;
    width: 1122px;
    height: 480px;
    border-radius: 16px;
    background: linear-gradient(0.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0px;
}

.event h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 45px;
    margin: 0 auto;
}

.event-title {
    color: rgb(255, 0, 0);
}

.event a {
    margin: 40px auto 120px auto;
}


.btn {
    color: white;
    background-color: red;
    border: none;
    border-radius: 8px;
    padding: 12px 28px 12px 28px;

}

/*offer-section style*/
.best-offer {
    height: 395px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.upcoming-offer {
    text-wrap: wrap;
    width: 30%;

}

.upcoming-offer .offer-title {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    font-family: Inter;
}

.upcoming-offer h1 {
    color: rgb(7, 2, 17);
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
}

.upcoming-offer p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.offer-image {
    height: 395px;
    width: 30%;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 30px;


}

.offer-image img {
    width: 80%;
    height: 80%;
    border: 2px dotted #e8e8e8;
}

.new-year {
    width: 30%;
    margin-left: 100px;
    text-wrap: wrap;
}

.new-year h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 60px;
}

.new-year p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.new-year img {
    margin-top: 30px;
}

.holiday-sell {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 5px;
}

.holiday-sell p {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holiday-sell h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 80px;
    margin-top: 10px;
    color: rgb(7, 2, 17);
}

.heading-color {
    color: red;
}

.holiday-sell .description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin-top: 20px;

}

.images {
    margin-top: 80px;
    width: 100%;
    height: 600px;

}

.images .img-one {
    height: 80%;
    width: 550px;
    margin-left: 80px;
    margin-bottom: -35px;


}

.images .img-two {
    height: 250px;
    width: 250px;
    margin-left: 200px;
    margin-bottom: 250px;
}

/*awesome offer section*/
.awesomer-offer {
    margin-top: 80px;
}

.awesomer-offer h3 {
    color: rgb(7, 2, 17);
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;

}

.awesomer-offer p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
}
.secondary-color{
    color: rgba(7, 2, 17, 0.6);
}
.image-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
}
.image-area{
    width: 33%;
    height: 33%;
}